PORT=4000
NODE_ENV=development
APP_URL=''
API_URL=https://ccc6-14-191-112-64.ngrok-free.app

MONGO_URI=''
MONGO_URI_LOCAL=mongodb://localhost:27017/youtube-tool

JWT_SECRET=lMTIW2qd1LWKHJdkRkG0lrzjOjmaMWhS

CHECK_LONG_VIDEO=true
YOUTUBE_API_KEY=your_youtube_api_key