name: Mirror to GitLab

on:
  push:
    branches: ['main']

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout full repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push branches & tags to GitLab
        run: |
          git push https://oauth2:${{ secrets.GITLAB_TOKEN }}@gitlab.com/igdev116/youtube-tool.git \
            +refs/heads/*:refs/heads/* \
            +refs/tags/*:refs/tags/*
