name: Mirror to GitLab

on:
  push:
    branches: ['main']

jobs:
  mirror:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout full repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to GitLab
        run: |
          git push --mirror https://oauth2:${{ secrets.GITLAB_TOKEN }_
