name: Mirror to GitLab
on: [push]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Push to GitLab
        run: |
          git push --mirror https://oauth2:${{ secrets.GITLAB_TOKEN }}@gitlab.com/igdev116/youtube-tool.git
